// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// .bar-buttons-md {
//     background-color: transparent;
//     padding: 2px;
//     order: 1;
//     min-width: 36px;
//     border-radius: 4px;
//     height: 32px;
//     border: 0;
//     font-size: 1.7rem;
// }

// h3.titulopagina {
//     color: #ffffff;
// }


// .bar-buttons-md {
//     background-color: #ffffff;
//     padding: 7px;
//   }
  
//   .iconemenu {
//     color: darkblue !important;
//     font-size: 24px !important;
//     line-height: 24px !important;
//     margin-bottom: 0px !important;
//   }
  
//   .bold {
//     font-weight: bold;
//     text-transform: capitalize;
//   }

.toolbar-md-primary .toolbar-title-md, .toolbar-ios-primary .toolbar-title-ios, .toolbar-md-primary .toolbar-background-md {
    background: none !important;
    // background: linear-gradient(90deg, rgba(0,90,162,1) 0%, rgba(0,108,178,1) 100%) !important;
  }
  
//   .text-center {
//     text-align: center;
//   }
  
//   button, .button-block-md {
//     display: block;
//     padding: 50px 5px;
//     height: auto;
//     height: 100%;
//     border-radius: 4px;
//   }
  
//   .text-on-bottom > .button-inner {
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//     -webkit-flex-direction: column;
//     -ms-flex-direction: column;
//     flex-direction: column;
//   }
  
//   ion-icon {
//     margin-bottom: 0px !important;
//     font-size: 20px !important;
//     line-height: 20px !important;
//   }
  
//   .btnsolicitacao {
//     color: #fff;
//     background-color: #337ab7;
//     border-color: #2e6da4;
//   }
  
//   .btnelogio {
//     color: #fff;
//     background-color: #5cb85c;
//     border-color: #4cae4c;
//   }
  
//   .btnreclamacao {
//     color: #fff;
//     background-color: #f0ad4e;
//     border-color: #eea236;
//   }
  
//   .btndenuncia {
//     color: #fff;
//     background-color: #d9534f;
//     border-color: #d43f3a;
//   }
  
//   .btnleiacesso {
//     color: #333;
//     background-color: #fff;
//     border: solid 1px grey;
//   }
  
//   .btnpesquisar {
//     color: #fff;
//     background-color: #337ab7;
//     border-color: #2e6da4;
//   }
  
//   #rodape {
//     /*text-align: center;
//       font-size: 1.1em;
//       color: #777;
//       width: 100%;
//       float: left;
//       position: absolute;
//       bottom: 0;
//       left: 0;
//       right: 0;*/
//     font-size: 9px;
//     color: #777;
//     width: 100%;
//     clear: both;
//     text-align: center;
//     margin: 0 auto;
//   }
  
//   #rod-info {
//     width: 100%;
//     text-align: center;
//     margin: 0 auto;
//   }
  
//   .rodsis {
//     background-color: #f9f9f9;
//     height: 100px;
//     border-top: 1px solid #ccc;
//     margin-top: 30px;
//     padding-top: 30px;
//     text-align: center;
//     margin: 0 auto;
//   }
  
//   .text-input-md, .select-md {
//     border: solid 1px #6d6b6b;
//     padding: 13px 8px 13px 16px;
//     max-width: 100% !important;
//     margin: 0px;
//   }
  
//   .label-md {
//     margin-bottom: 0px;
//   }

.toolbar-background-md, .toolbar-background-ios, .toolbar-md, .toolbar-ios {
  background: rgb(0,90,162) !important;
  background: linear-gradient(90deg, rgba(0,90,162,1) 0%, rgba(0,108,178,1) 100%) !important;
}