page-sobre {
    h3.titulopagina {
        color: #ffffff;
    }

    .toolbar-background-md, .toolbar-background-ios {
        background: rgb(0,90,162);
        background: linear-gradient(90deg, rgba(0,90,162,1) 0%, rgba(0,108,178,1) 100%);
    }
}
